/* tablet responsive */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-img{
        width: 50%;
        margin-top: 50px;
       justify-content: space-around;
    }
    .nav-icon{
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        gap: 30px;
    }
    .nav-container{
        flex-direction: column;
    }
  

    
}


/* mobile responsive */

@media screen and (max-width: 576px) {
    .nav-img{
        width: 50%;
        margin-top: 50px;
    }
    .nav-icon{
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        gap: 30px;
    }
    .nav-container{
        flex-direction: column;
    }
    header{
        padding: 20px;
    }
}