/* Work Sans google font */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Dancing Script', cursive;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar section start */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    max-width: 1240px;
    min-height: 70px;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.nav-img {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-img img {
    width: 50px;
}

.nav-img h2 {
    font-size: 30px;
    font-weight: 700;
}

.nav-span-text {
    color: pink;
}

.nav-icon {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-icon a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}

.nav-button {
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    border-radius: 5px;
}

/* banner section */
.banner-container {
    max-width: 1240px;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-text {
    width: 50%;
    background-image: url("../images/Group\ 14.png"), linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.01));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}


.banner-img {
    width: 50%;
}

.banner-img img {
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.banner-title h2 {
    color: #0B0223;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.banner-title h1 {
    font-size: 35px;
    font-weight: 800;
    background-image: linear-gradient(to bottom, rgb(0, 119, 255), blue);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 10px;
}

.banner-title p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.banner-btn {
    padding: 10px 20px;
    border-radius: 48px;
    background: #FF42A5;
    border: 0;
    font-size: 18px;
    color: #FFF;
}

.banner-btn-style {
    padding: 10px 20px;
    border: 0;
    font-size: 18px;
    border-radius: 48px;
    background: #4EC5F7;
}